body {
    margin: 0;
    padding: 0;
    border: 0;
}
#body {
    overflow: auto;
}
#sidebar {
    float: left;
    height: 100%;
    width: 200px;
    background-color: #bbb;
    padding: 10;
    margin-right: 10;
}